@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #3434db;
    --primary-color-darken: #2b2bb8;
    --secondary-color: #6613b4;
    --font-color: #fcf9f9;
    --background-color: #2f2c2c;
    --shadow-text: #151570;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    color: var(--font-color);
    background-color: var(--background-color);
    border-radius: 8px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid var(--secondary-color);
}

form button {
    font-size: 24px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 0;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darken);
}
form button:active {
    transform: scale(0.98);
}


.container-tabela-imc {
    margin: 0 auto 40px auto;
    overflow-x: auto;

}
.container-tabela-imc table {
    width: 100%;
    border-collapse: collapse;
}
.container-tabela-imc th, .container-tabela-imc td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}
.container-tabela-imc th {
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.container-tabela-imc tr:nth-child(even) {
    background-color: #3a3737;
}

.container-tabela-imc tr:hover {
    background-color: #2b2bb8;
}

.titulo-1, .titulo-2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
    margin-bottom: 20px;
    text-shadow: 2px 5px 15px var(--shadow-text);
}