@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #3434db;
    --primary-color-darken: #2b2bb8;
    --secondary-color: #6613b4;
    --font-color: #fcf9f9;
    --background-color: #2f2c2c;
    --shadow-text: #151570;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 10px;
}

form input:focus {
    outline: 2px solid var(--secondary-color);
}

form button {
    font-size: 24px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 0;
    cursor: pointer;
    margin-top: 5px;
}

form button:hover {
    background-color: var(--primary-color-darken);
}
form button:active {
    transform: scale(0.98);
}


#calculadora-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    max-width: 320px;
    width: 100%;
}

.visor-calculadora {
    grid-column: span 4;
    
    background-color: transparent;
    color: white;
    border: none;
    text-align: right;
    font-size: 3.5rem;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}
.btn {
    border: none;
    font-size: 1.5rem;
    padding: 15px; 
    border-radius: 50px; 
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.btn-numero {
    background-color: #333;
}

.btn-operador, .btn-igual {
    background-color: #ff9f0a;
}

.btn-clear, .btn-delete {
    background-color: #a5a5a5;
    color: black;
}


.btn-zero {
    grid-column: span 2;
    aspect-ratio: auto; 
    border-radius: 40px;
    justify-content: flex-start;
    padding-left: 25px;
}